---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.vue";
import TestVUE from "../components/TestVUE.vue";
import ReactComponent from "../components/ReactComponent";
import DrinkCard from "../components/DrinkCard.vue";

const drinkMOCK = {
  idDrink: 12,
  strDrink: "Prova Card test",
  strDrinkThumb: "https://picsum.photos/300/300",
};
---

<TestVUE client:load />
<ReactComponent client:load />
<div class="test">
  <DrinkCard client:load drinkInfo={drinkMOCK} />
  <Card client:load drinkInfo={drinkMOCK} />
</div>

<style>
  .test {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }
</style>
